html {
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100%;
  font-size: 13px;
  line-height: 20px;
  margin: 0;
}

.map__element {
  position:absolute;
  top:0;
  bottom:55px;
  left: 0;
  right:0;
}

.navigation {
  position: fixed;
  bottom:0;
  right: 0;
  left: 0;
  z-index: 3;
}

.container {
  margin-bottom: 55px;
}

.location {
  padding: 0 !important;
}

.location__image {
  max-width: 100%;
  padding-bottom: 12px;
  display: block;
}

.location__description {
  padding: 0 24px 24px;
}

.typeicon {
  height: 40px;
}

.hero {
  display: none;
}

@media screen and (min-height: 400px ){
  .hero {
    width: 128px;
    height: 128px;
    display: block;
    position: fixed;
    background: url('imgs/hero.png?v=3');
    z-index: 9999;
  }

  .hero--bottom {
    bottom: 0;
    left: 24px;
  }
}

.error {
  box-sizing: border-box;
  width: 100%;
  padding: 4px;
  color: #fff;
  background: #f46542;
}
